.titulo2{
    padding-top: 3rem;
}
.areaTextos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.txt_grande , .txt_red{
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}
.txt_red{
    font-size: 1.5rem;
}